/* color variables */
:root {
	--blue: #0F2B3E;
	--orange: #F3A343;
	--red: #DC6E53;
	--gray: #828D95;
	--green: #67C295;
	--black: #575757;
	--white: #FFF;
	--yellow: #FFDC51;
	--purple: #AC79B2;
}

/* sets the page font */
* {
	font-family: 'Quicksand', sans-serif;
}

/* genaral settings */
h1 {
	font-weight: bold;
	font-size: 3rem;
}

input {
	height: 30px;
}

input:invalid{
	box-shadow: none;
}

button {
	font-family: inherit;	
}

.pointer{
	cursor: pointer;
}

.h60{
	min-height: 70px;
	padding: 10px !important;
}

.h120 {
	height: 120px;
}

.w100 {
	width: 100%;
}

.mt-10 {
	margin-top: 10vh;
}

.align-icon {
	transform: translateY(5px);
}

.border{
	border-radius: 10px;
	box-shadow: 0 5px 38px -20px rgba(0,0,0,0.14), 0 9px 20px -15px rgba(0,0,0,0.12), 0 11px 15px -15px rgba(0,0,0,0.2);
}

.date{
	font-size:  12px !important;
	text-indent: 10px;
	margin-left: 10px;
}


input{
	text-indent: 4px;
	margin-top: 20px;
	color: black;
	border: none;
	border-bottom: 1px solid;
	font-family: inherit;
}

input[type=date]::-webkit-datetime-edit {
    color: #999;
}

input:focus{
	outline: var(--gray);
}

button{
	background-color: transparent !important;
	border: none;
}

.button{
	height: 30px;
}

.option-button{
	margin-top: 10px;
}


.title{
	font-size: 18px;
	font-weight: bold;
}

.overlayer{
	z-index: -5;
	opacity: 0;
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: var(--black);
	top: 0;
	left: 0;

	transition: all 0.35s linear;
}

.focus{
	z-index: 11 !important;
	position: relative;
}

.hidden {
	display: none;
}

.minimized {
	height: 0;
	overflow-y: hidden;
	transition: all 0.15s linear;
}

.bold {
	font-weight: bold;
}

#todo-wrapper{
	margin-bottom: 0 !important;
}